.color-picker-container,
.color-choose {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-display {
  border: 2px solid lightpink;
}


.color-picker-container label{
  font-size: 1em;
  color: hsl(0,0%,25%);
}
.color-picker-container input {
  height: 30px;
  width: 100px;
}

.counter-container {
  border:2px solid lightpink;
  width: 250px;
  height: auto;
  text-align: center;
  padding-bottom: 5px;
}

.count-display {
  font-family: Arial;
  font-size: 20px;
}

.count-button {
  background-color: lightblue;
  margin: 5px;
  height: 30px;
  font-weight: bold;
}

.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0,0%,25%);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: antiquewhite; 
  width: 200px;
}

.list-items li {

  font-size: 1.5em;
  color: hsl(0,0%,30%);
  margin-bottom: 10px;
}

.list-items li:hover {
  color: hsl(0,0%,50%);
  text-decoration: underline;
}

.welcome-message {
  background-color: green;
  border-radius: 10px;
  width:200px;
  padding:20px;
}

.login-prompt {
  background-color: red;
  border-radius: 10px;
  width:200px;
  padding:20px;
}

.family {
  border: 1px solid hsl(0,0%,80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0,0%,0%,0.1);
  width: 200px;
  text-align: center;
}

.card {
  border:1px solid hsl(0,0%,80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0,0%,0%,0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 300px;
  display: inline-block;
  /*默认 display 值是 block。这些元素会独占一行，可以设置宽度和高度，并会自动填满容器宽度。*/
}
.profile-image {
  width:60%;
  height: auto;
  margin-bottom: 10px;
}

.card .profile-image {
  width:60%;
  /*在图片的 .profile-image 样式中设置 height: auto;，意味着图片的高度会根据图片的宽度等比例缩放，以保持图片的原始比例*/
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: Arial;
  margin: 0;
  color: hsl(0,0%,0%);
}

.card .card-text {
  font-family: Arial;
  color: hsl(0,0%,30%);
}

